* {
  margin: 0;
  font-family: sans-serif;
}

.header1 {
  display: flex;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
}
.header1 h1 {
  font-size: 50px;
  font-family: monospace;
  color: rgb(0, 0, 0);
}
.header1 .imglogo {
  position: relative;
  left: -10px;
  gap: 100px;
}
.header1 nav {
  display: flex;
  gap: 70px;
}
.header1 nav a {
  display: flex;
  align-items: center;
  font-size: 16px;
  text-decoration: none;
  color: rgb(111, 111, 111);
}
.header1 input {
  border: none;
  border-bottom: 1px solid gray;
  width: 100px;
  font-size: 13px;
}

.header2 {
  background-color: rgba(212, 231, 254, 0.2588235294);
  height: 600px;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid #D4E7FE;
}
.header2 nav {
  margin-top: 100px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header2 nav button {
  background-color: #D4E7FE;
  width: 150px;
  color: #217BF4;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 11px;
}
.header2 nav h1 {
  font-size: 50px;
}
.header2 nav p {
  font-size: 19px;
  color: #656464;
}
.header2 .header2btn {
  padding: 20px;
  color: white;
  background-color: #217BF4;
}
.header2 .header3btn {
  padding: 20px;
  color: #217BF4;
  background-color: rgba(255, 255, 255, 0);
  margin-left: 20px;
  border: 1px solid #217BF4;
}

.block2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 200px;
  position: relative;
}
.block2 .nav {
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.block2 .nav h1 {
  font-size: 40px;
}
.block2 .nav .p1 {
  font-size: 15px;
  color: #217BF4;
  font-weight: bold;
}
.block2 .nav p {
  font-size: 20px;
  color: #656464;
}
.block2 .nav h3 {
  color: #171648;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.block2 .m1 {
  position: relative;
}
.block2 .m1 .m3 {
  position: absolute;
  bottom: 190px;
}
.block2 .m1 .m4 {
  position: relative;
  top: 70px;
}
.block2 .m1 .m2 {
  position: relative;
  left: -12px;
}

.block3 {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 100px;
}
.block3 .q1 {
  box-shadow: 0px 0px 10px #D4E7FE;
  padding: 40px;
  border-radius: 10px;
  width: 290px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 100px;
}
.block3 .q1 h2 {
  display: flex;
  gap: 10px;
}
.block3 .q1 .q5 {
  color: #217BF4;
}
.block3 .q1 .btn {
  padding: 20px;
  border: none;
  background-color: #217BF4;
  color: white;
  border-radius: 10px;
  width: 150px;
}
.block3 .q2 {
  display: flex;
  text-align: start;
  align-items: center;
  margin-left: -20px;
  gap: 5px;
}
.block3 .q3 {
  color: #8C8C8C;
  font-size: 21px;
}
.block3 .q4 {
  color: #217BF4;
  font-weight: bold;
}

.bl1 {
  width: 500px;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 80px;
}
.bl1 p {
  color: #217BF4;
  font-weight: bold;
}
.bl1 h1 {
  color: #171648;
  font-size: 41px;
}
.bl1 .p1 {
  color: #656464;
  font-size: 20px;
  text-align: center;
  font-weight: 100;
}

.block4 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 50px;
  background-color: rgba(241, 246, 253, 0.4352941176);
  padding: 10px;
}
.block4 .blo4div {
  width: 480px;
  padding: 20px;
  display: flex;
  box-shadow: 0px 0px 10px rgba(212, 231, 254, 0.5176470588);
  align-items: center;
  line-height: 1.4;
  border-radius: 10px;
}

.h1 {
  background-color: #D4E7FE;
  width: 400px;
  display: flex;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  align-items: center;
  color: #171648;
  margin: auto;
  margin-top: 50px;
}
.h1 .activ {
  background-color: #217BF4;
  padding: 20px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 50px;
  color: white;
}

.block5 {
  display: flex;
  height: 500px;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
}
.block5 .cart {
  border-radius: 10px;
  width: 250px;
  height: 300px;
  text-align: center;
  box-shadow: 0px 15px 15px 0px rgba(128, 128, 128, 0.174);
}
.block5 .cart h1 {
  margin-top: 20px;
}
.block5 .cart p {
  margin-top: 10px;
  color: #656464;
}
.block5 .cart .ram {
  width: 150px;
  margin: auto;
  border-radius: 90px;
  padding: 10px;
}

.block6 {
  background-color: #D4E7FE;
  display: flex;
  justify-content: center;
  gap: 100px;
}
.block6 nav {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin-top: 50px;
}
.block6 nav p {
  color: #217BF4;
  font-weight: bold;
}
.block6 nav .p2 {
  color: #656464;
  font-weight: 100;
}
.block6 nav div {
  display: flex;
  align-items: center;
  margin-left: -20px;
}
.block6 .img6 {
  width: 600px;
}

.block7 {
  display: flex;
  justify-content: space-evenly;
  margin-left: -70px;
  margin-top: 40px;
}
.block7 div {
  width: 270px;
  padding: 0px;
}
.block7 div h3 {
  margin-left: 54px;
  margin-top: 10px;
}
.block7 div p {
  color: #656464;
  margin-left: 54px;
  margin-top: 20px;
}

.footer1 {
  background-color: #2B2B39;
  height: 300px;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer1 .hom1 {
  line-height: 2.5;
  color: white;
}
.footer1 .hom1 p {
  font-weight: 100;
  color: #E7E7E7;
}
.footer1 .kol {
  width: 300px;
  color: white;
  line-height: 2.3;
}
.footer1 .kol p {
  color: #E7E7E7;
}
.footer1 .kol input {
  background-color: #2B2B39;
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
}

.footer2 {
  background-color: #20202D;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer2 p {
  color: #a5a4a4;
}
.footer2 h1 {
  color: white;
  display: flex;
  gap: 10px;
}/*# sourceMappingURL=index.css.map */