$mycolor: #217BF4;
$mysize: 20px;
$color: green;
@mixin buttons($btcol, $size){
    padding: 10px;
    border-radius: 10px;
    background-color: aqua;
    color: white;
    border: none;
    font-size: 20px;
}
*{
    margin: 0;
    font-family: sans-serif;
}
.header1{
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    
    h1{
        font-size: 50px;
        font-family: monospace;
        color: rgb(0, 0, 0);
    }
    .imglogo{
        position: relative;
        left: -10px;
        gap: 100px;
    }
    nav{
        display: flex;
        gap: 70px;
        a{
            display: flex;
            align-items: center;
            font-size: 16px;
            text-decoration: none;
            color: rgb(111, 111, 111);
        

        }
    }
    input{
        border: none;
        border-bottom: 1px solid gray;
        width: 100px;
        font-size: 13px;
    }

}
.header2{
    background-color: #d4e7fe42;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    border-top:1px solid #D4E7FE ;
    nav{
        margin-top: 100px;
        width: 500px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        button{
            background-color: #D4E7FE;
            width: 150px;
            color: $mycolor;
            border: none;
            padding: 10px;
            border-radius: 10px;
            font-size: 11px;
        }
        h1{
            font-size: 50px;
        }
        p{
            font-size: 19px;
            color: #656464;
        }
    }
    .header2btn{
        padding: 20px;
        color: white;
        background-color: #217BF4;
        
    }
        .header3btn{
        padding: 20px;
        color: $mycolor;
        background-color: #ffffff00;
        margin-left: 20px;
        border: 1px solid #217BF4;
    }
}
.block2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
    position: relative;
    .nav{
        width: 450px;
       display: flex;
        flex-direction: column;
        gap: 20px;
        h1{
            font-size: 40px;
        }
        .p1{
            font-size: 15px;
            color: $mycolor;
            font-weight: bold;
        }
        p{
            font-size: 20px;
            
            color: #656464;
        }
        h3{
            color: #171648;
            font-size: 18px;
            display: flex;
            align-items: center;
            gap: 6px;
            
        }
    }
    .m1{
        position: relative;
        .m3{
            position: absolute;
            bottom: 190px;

        }
        .m4{
            position: relative;
            top: 70px;
        }
        .m2{
            position: relative;
            left: -12px;
        }
    }
}

.block3{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
    .q1{
        box-shadow: 0px 0px 10px #D4E7FE;
        padding: 40px;
        border-radius: 10px;
        width: 290px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 100px;
        h2{
            display: flex;
            gap: 10px;
        }
        .q5{
            color: $mycolor;
        }
        .btn{
            padding: 20px;
            border: none;
            background-color: #217BF4;
            color: white;
            border-radius: 10px;
            width: 150px;
        }
    }
    .q2{
        display: flex;
        text-align: start;
        align-items: center;
        margin-left: -20px;
        gap: 5px;
    }
    .q3{
        color: #8C8C8C;
        font-size: 21px;
    }
    .q4{
        color: $mycolor;
        font-weight: bold;
    }
    
}
.bl1{
    width: 500px;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 80px;
    p{
        color: $mycolor;
        font-weight: bold;
        
    }
    h1{
        color: #171648;
        font-size: 41px;
    }
    .p1{
        color: #656464;
        font-size: 20px;
        text-align: center;
        font-weight: 100;
    }
}
.block4{
    display: flex;
    justify-content: center ;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 50px;
    background-color: #f1f6fd6f;
    padding: 10px;
    .blo4div{
        width: 480px;
        padding: 20px;
        display: flex;
         box-shadow: 0px 0px 10px #d4e7fe84;
         align-items: center;
         line-height: 1.4;
         border-radius: 10px;
    }
}
.h1{
    background-color: #D4E7FE;
    width: 400px;
    display: flex;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    align-items: center;
    color: #171648;
    margin: auto;
    margin-top: 50px;
    .activ{
        background-color: #217BF4;
        padding: 20px;
        display: flex;
        align-items: center;
        border-radius: 10px;
        width: 50px;
        color: white;
        
    }
}
.block5{
    display: flex;
    height: 500px;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
    .cart{
        border-radius: 10px;
        width: 250px;
        height: 300px;
        text-align: center;
        box-shadow: 0px 15px 15px 0px rgba(128, 128, 128, 0.174);
        h1{
            margin-top: 20px;
        }
        p{
            margin-top: 10px;
            color: #656464;
        }
        .ram{
            
            width: 150px;
            margin: auto;
            border-radius: 90px;
            padding: 10px;
        }

    }
}

.block6{
    background-color: #D4E7FE;
    display: flex;
    justify-content: center;
    gap: 100px;
    nav{
        width: 350px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        margin-top: 50px;
        p{
            color: $mycolor;
            font-weight: bold;
        }
        .p2{
            color: #656464;
            font-weight: 100;
        }
        div{
            display: flex;
            align-items: center;
            margin-left: -20px;
        }
    }
    .img6{
        width: 600px;
    }
}