$mycolor: red;
$mysize: 20px;
$color: green;
@mixin buttons($btcol, $size){
    padding: 10px;
    border-radius: 10px;
    background-color: aqua;
    color: white;
    border: none;
    font-size: 20px;
}
*{
    margin: 0;
    font-family: sans-serif;
}
.header1{
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    
    h1{
        font-size: 50px;
        font-family: monospace;
        color: rgb(0, 0, 0);
    }
    .imglogo{
        position: relative;
        left: -10px;
        gap: 100px;
    }
    nav{
        display: flex;
        gap: 70px;
        a{
            display: flex;
            align-items: center;
            font-size: 16px;
            text-decoration: none;
            color: rgb(111, 111, 111);
        

        }
    }
    input{
        border: none;
        border-bottom: 1px solid gray;
        width: 100px;
        font-size: 13px;
    }

}
.header2{
    background-color: #d4e7fe42;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    border-top:1px solid #D4E7FE ;
    nav{
        margin-top: 100px;
        width: 500px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        button{
            background-color: #D4E7FE;
            width: 150px;
            color: #217BF4;
            border: none;
            padding: 10px;
            border-radius: 10px;
            font-size: 11px;
        }
        h1{
            font-size: 50px;
        }
        p{
            font-size: 19px;
            color: #656464;
        }
    }
    .header2btn{
        padding: 20px;
        color: white;
        background-color: #217BF4;
        
    }
        .header3btn{
        padding: 20px;
        color: #217BF4;
        background-color: #ffffff00;
        margin-left: 20px;
        border: 1px solid #217BF4;
    }
}
